@import helper._
@import views.html.helper

@(maps: List[models.MapInfo], myForm: Form[controllers.MapInfoController.FormData])

@main("Map List") {
    @if(flash.containsKey("error")) {
        <font color="red">@flash.get("error")</font>
    }
    <h1>Map list</h1>

    <table>
        <tr>
            <th>Name     </th>
            <th>  Uploaded?    </th>
            <th>  Last upload    </th>
            <th>  Last sync    </th>
            <th>  Sync success?    </th>
            <th>  Downloads    </th>
            <th>  Actions</th>
        </tr>
        @for(map <- maps) {
        <tr>
            <td>| @map.name  </td>
            <td>| @map.is_uploaded  </td>
            <td>| @( if (map.upload_date!=null) { map.upload_date.format("dd.MM.yyyy hh:mm")}) </td>
            <td>| @( if (map.sync_date!=null) { map.sync_date.format("dd.MM.yyyy hh:mm")})  </td>
            <td>| @map.sync_success  </td>
            <td>| @map.downloads_count </td>
            <td>
                @form(routes.MapInfoController.downloadMap(map.id)) {
                    <input type="submit" value="Download">
                }
            </td>
        </tr>
        }
    </table>
}